div{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
table{
    border: 2px solid blue;
}
/* .tbl-h{
border-bottom: 1px solid black !important;
} */
td{
    width: 100px;
    border: 1px solid black;
}

thead{
    text-align: center;
    background-color: #2be2da52;
}
